.wrapper {
  margin: 60px 0;
}

.title {
  margin: 0 auto 30px;
  width: max-content;
}

.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center; // Додано для центрування
}

.circle {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #816666;
  border-radius: 50%;
  border: 1px solid black;
  display: flex; // Змінено для зручного центрування тексту
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 2px;
  font-family: inherit;

  &:hover {
    transform: scale(1.05);
    background-color: #927575;
  }

  &.active {
    background-color: #5d4a4a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    border-width: 2px;
  }
}

  //&::before {
  //  content: '';
  //  position: absolute;
  //  width: 20px;
  //  height: 20px;
  //  background-color: #fff;
  //  border-radius: 50%;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //  border: 1px solid black;
  //}

.circleSmall {
  @extend .circle;
}

.circleMedium {
  @extend .circle;
  width: 84px;
  height: 84px;
}

.circleBig {
  @extend .circle;
  width: 87px;
  height: 87px;
}

.circleBiggest {
  @extend .circle;
  width: 90px;
  height: 90px;
}

.circleNew {
  @extend .circle;
  position: absolute;
  top: 175px;
  left: 305px;
}
