.meter {
  width: 100%;
  height: 100%;
  padding: 8px 8px;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;   /* 🔥 по центру по вертикали */
}

.scaleBox {
  position: relative;
  width: 100%;
  height: 80px;   /* если было больше — поставь 80 */
}

/* цифры */
.labelsRow {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;        /* было 6px */
  box-sizing: border-box;
}

.label {
  font-size: 14px;       /* чуть крупнее */
  font-weight: 800;
  line-height: 1;
  white-space: nowrap;
}

.tickMinor { height: 10px; }
.tickMajor { height: 18px; width: 2px; }

/* линия шкалы — шире */
.scaleLine {
  position: absolute;
  left: 2px;             /* было 6px */
  right: 2px;            /* было 6px */
  top: 52px;             /* опустили линию чуть ниже */
  height: 4px;
  background: black;
}

/* стрелка — ставим НА линию и вниз, чтобы не вылезала */
.vIndicator {
  position: absolute;
  top: 40px;             /* ниже цифр */
  width: 4px;
  height: 22px;          /* короче */
  background: red;
  transform: translateX(-50%);
  transition: left 0.6s ease;
}


.ticksRow {
  display: flex;
  width: 100%;
  padding: 0 2px;
  box-sizing: border-box;
  margin-top: 6px;
}

.tickCell {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* чтобы все риски "стояли" на одной базе */
}

.tick {
  background: black;
}

/* 1 — короткая тонкая */
.tick1 {
  width: 1px;
  height: 10px;
}

/* 5 — длиннее, но не толстая */
.tick5 {
  width: 1px;
  height: 18px;
}

/* 10 — длинная и толстая */
.tick10 {
  width: 2px;
  height: 18px;
}