.pin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    background-color: #6f6f6f;
    border: 1px solid black;

    transition: all 0.2s ease;
}


.pin--small {
    width: 55px;
    height: 55px;
}


.pin--medium {
    width: 70px;
    height: 70px;
}


.pin--large {
    width: 82px;
    height: 82px;
}


.pin--open {
    width: 70px;
    height: 70px;
}

