.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  /* центрируем по середине */
    padding: 30px 0;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
    white-space: nowrap; /* чтобы не переносилось */
}

.languages {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); /* ровно по центру по высоте */
    display: flex;
    align-items: center;
    gap: 6px;
}

.activeLang {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    align-self: center;
}

.notActiveLAng {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.2;
    align-self: center;
}